*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }


/* Customer image */
.customer{
    display: flex;
    margin-top: 5rem;
    align-items: center;
    gap:2rem; 
  }
  .customer-img{
    display: flex;
  
  }
  .customer-img img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: -1rem;
    border: 3px solid #e6ffe6;
  }
  .customer-description{
    font-size: 1.2rem;
    font-weight: 600;
  }



  /* slider */
  
.slider {
  background: rgb(181, 176, 185);
	display: grid;
	place-items: center;
	height: 100vh;
}
.section-header{
    position: relative;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 900;
    padding-bottom: 25px;
    color: #fff;
}
.section-header:after{
    content: '';
    height: 3px;
    width: 200px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 100px);
    background: #fff;
}
.section-header span {
	display: block;
	font-size: 15px;
	font-weight: 300;
}
.testimonials{
    max-width: 1000px;
    padding: 0 15px 50px;
    margin: 0 auto 80px auto;
}
.single-item{
    background: #fff;
    color: #111;
    padding: 15px;
    margin: 50px 15px;
}
.profile{
    margin-bottom: 30px;
    text-align: center;    
}
.img-area {
	margin: 0 15px 15px 15px;
}
.img-area img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 7px solid blueviolet;
}
.content{
    font-size: 18px;
}
.content p {
	text-align: justify;
}
.content p span {
	font-size: 48px;
	margin-right: 20px;
    color: blueviolet;
}
.socials i {
	margin-right: 25px;
}
.bio h4 {
	font-family: 'Berkshire Swash', cursive;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
	background-color: blueviolet;
}


/*  */
.social_media{
  border-radius: 100%;
}
.social_site li {
  margin: 0.5rem;
}